header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

h1 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-right: 20px; /* Adjust the margin as needed for spacing */
}
.sidebar {
    background-color: #242457;
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;

}
